/*generic layout considering phones, tablets and desktops*/

body {
  width: 100%;
  margin: 0 auto;
  font-family: Verdana, sans-serif;
  font-size: 16pt;
  background-color: hotpink;
}

nav {
  display: flex;
  background-color: yellow;
  text-align: left;
  font-size: 0.85em;
}

nav#slideMenu {
  display: none;
  flex-direction: column;
  width: 90%;
  height: 100%;
  position: fixed;
  top: 0;
}

nav#slideMenu p {
  background-color: darkviolet;
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 0.95em;
  line-height: 1.9em;
}

nav p {
  padding-left: 1em;
}

header {
  padding: 0 30px;
  background-color: green;
}

main {
  width: 100%;
  padding: 0;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

section {
  /* flex box container */
  width: 90%;
  margin: 0 auto;
  padding: 5px 20px;
  background-color: purple;
  flex-direction: column;
}

article {
  background-color: deeppink;
  width: 100%;
}

aside {
  display: none;
}

/* utility classes */
.large {
  display: none;
}

.medium {
  display: none;
}

.toggler {
  cursor: pointer;
}

@media screen and (min-width: 479px) and (max-width: 799px) {
  /*big phones landscpaed and up*/
  body {
    background-color: green;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: orange;
  }

  nav#slideMenu {
    display: none;
    width: 70%;
    flex-direction: column;
    font-size: 1em;
    position: fixed;
    top: 0;
  }

  aside {
      display: inline-block;
  }

  /* utility classes */
  .medium {
    display: inline-block;
  }
}

  @media screen and (min-width: 1280px) {
    body {
      background-color: red;
    }

    main {
      width: 100%;
      padding: 0;
      margin: 0;
      background-color: cornflowerblue;
      display: flex;
      justify-content: center;
      flex-direction: row;
    }

    section {
      width: 70%;
      background-color: purple;
    }

    aside {
      width: 30%;
      margin: 0 auto;
      padding: 5px 20px;
      background-color: lightblue;
      flex-direction: column;
    }

    /* utility classes */
    .large {
      display: inline-block;
    }
}
